<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Change Password</title>
    </head>

    <body>
        <h1>Change password</h1>

        {% if changed %}
        <p>Password is changed</p>
        <a href="{% url 'users:index' %}">Back to Sign In page</a><br />

        {% else %}
        <form id="Chapass" method="post" action="/users/chapass/">
            {% csrf_token %}
            Original_Password: <input type="password" name="original_password" value="" size="50" />
            <br />
            New_Password: <input type="password" name="new_password" value="" size="50" />
            <br />
            Confirm_New_Password: <input type="password" name="confirm_new_password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
        {% endif %}

    </body>
</html>
