 <!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>User Profile</title>
    </head>

    <body>
	<script type="text/javascript">
	  var gg={{ userprofile.latitude }};
	  var ff={{ userprofile.longitude }};</script>

        <p><iframe src="{% url 'users:dmap' %}" width="500" height="380"></iframe> </p>

        <h4>No map if either latitude or longitude is none</h4>

        <p></p>

        <p>Username:{{ user.username }}</p>

        <p>Email:{{ user.email }}</p>

    	<p>Birthday:{{ userprofile.birthday }}</p>

    	<p>Make Public:{{ userprofile.make_public_your_user_name }}</p>

        <p>Street Number:{{ userprofile.street_number }}</p>

        <p>Street Name:{{ userprofile.street_name }}</p>

        <p>City Name:{{ userprofile.city_name }}</p>

        <p>Province Name:{{ userprofile.province_name }}</p>

        <p>Postal Code:{{ userprofile.postal_code }}</p>

        <p>Country Name:{{ userprofile.country_name }}</p>

        <p>Latitude:{{ userprofile.latitude }}</p>

        <p>Longitude:{{ userprofile.longitude }}</p>

        <p>Music:{{ userprofile.isMusic }}</p>

        <p>Sports:{{ userprofile.isSports }}</p>

        <p>Food and Drink:{{ userprofile.isFood_Drink }}</p>

        <p>Parties:{{ userprofile.isParties }}</p>

        <p>Arts:{{ userprofile.isArts }}</p>

        <p>Busniess:{{ userprofile.isBusniess }}</p>

        <p>Phonenumber:{{ userprofile.phonenumber }}</p>

        <p>Gender:</p>

        <p>Male:{{ userprofile.isMale }}</p>

        <p>Female:{{ userprofile.isFemale }}</p>




    	
       
       <a href="{% url 'users:index' %}">Back to home page</a><br />
       <!-- here, we use db auth_user, so we call user.id, and pass it to user_prodile  -->
       <a href="{% url 'users:user_profile' user.id %}">Edit the Profile</a><br />
       <!-- go to the contact app and find the view.py's edit function, userprofile.id is its' parameter -->

    </body>
</html>



