<!DOCTYPE html>
<html>
    <head>
        <title>My Profile</title>
    </head>

    <body>
	<script type="text/javascript">
	  var gg={{ userprofile.latitude }};
	  var ff={{ userprofile.longitude }};</script>
        <h1>Edit Profile page</h1>

        {% if edited %}

        <p>You've complete the editing!</p>

        <a href="{% url 'users:index' %}">Back to home page</a><br />


        {% else %}
        <form id="profileform" method="post" action="{% url 'users:user_profile' user.id %}">
            {% csrf_token %}

            <iframe src="{% url 'users:map' %}" width="500" height="380"></iframe> <br />

            Email: <input type="text" name="email_" value="{{ user.email }}" size="50" /> <br />
            
            {{ userprofile.birthday }}
            Birthday: <input type="text" name="birthday_" value="{{ userprofile.birthday|date:"Y-m-d"  }}" size="50" /> <br />

            Make Public Your Username: <input type="checkbox" name="make_public_your_user_name" {% if userprofile.make_public_your_user_name %}checked{% else %}  {% endif %}></input><br />  

            Street Number: <input type="text" id="street_number_" name="street_number_" value="{{ userprofile.street_number }}" size="50" /> <br />

            Street Name: <input type="text" id="street_name_" name="street_name_" value="{{ userprofile.street_name }}" size="50" /> <br />

            City Name: <input type="text" id="city_name_" name="city_name_" value="{{ userprofile.city_name }}" size="50" /> <br />

            Province Name: <input type="text" id="province_name_" name="province_name_" value="{{ userprofile.province_name }}" size="50" /> <br />

            Postal Code: <input type="text" id="postal_code_" name="postal_code_" value="{{ userprofile.postal_code }}" size="50" /> <br />

            Country Name: <input type="text" id="country_name_" name="country_name_" value="{{ userprofile.country_name }}" size="50" /> <br /> 

            Latitude: <input type="text" id="latitude_" name="latitude_" value="{{ userprofile.latitude }}" size="50" /> <br /> 

            Longitude: <input type="text" id="longitude_" name="longitude_" value="{{ userprofile.longitude }}" size="50" /> <br />
            
            Music: <input type="checkbox" name="isMusic" {% if userprofile.isMusic %}checked{% else %} {% endif %}></input><br />


            Sports: <input type="checkbox" name="isSports_" {% if userprofile.isSports %}checked{% else %}{% endif %} /> <br />

            Food and Drink: <input type="checkbox" name="isFood_drink_" {% if userprofile.isFood_drink %} checked{% else %} {% endif %} /> <br />

            Parties: <input type="checkbox" name="isParties_" {% if userprofile.isParties %}checked{% else %} {% endif %} /> <br />

            Arts: <input type="checkbox" name="isArts_" {% if userprofile.isArts %} checked{% else %} {% endif %} /> <br />

            Business: <input type="checkbox" name="isBusniess_" {% if userprofile.isBusniess %} checked{% else %} {% endif %} /> <br />



            Phone Number: <input type="text" name="phonenumber_" checked value="{{ userprofile.phonenumber }}" size="50" /> <br />
			
			Gender: <br />

            <input type="radio" name="sex" value="male" {% if userprofile.isMale %} checked{% else %} {% endif %}>Male<br>
            <input type="radio" name="sex" value="female" {% if userprofile.isFemale %} checked{% else %} {% endif %}>Female

            
            

            <input type="submit" value="submit" />
        </form>
        {% endif %}   
    </body>
</html>